@import "https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap";
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

.btn {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20rem;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 2rem;
}

.infrastructure-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .infrastructure-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.header {
  color: white;
  background: linear-gradient(180deg, #ff8f70 0%, #ff3d54 100%);
  border-bottom-left-radius: 4rem;
  padding: 2rem 0;
  font-family: "Overpass", sans-serif;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header .nav .close {
  display: none;
}
.header .nav .active {
  display: block !important;
}
.header .nav .menu {
  position: absolute;
  background-color: white;
  color: black;
  top: 4rem;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem 0;
  display: none;
  box-shadow: 0px 7px 100px -30px #42445a;
}
.header .nav .menu .menu-items .item .item-text {
  margin: 1.5rem 0;
  font-weight: 700;
  cursor: pointer;
}
.header .nav .menu .menu-items .item .dropdown {
  list-style: none;
  background-color: #c8c8cb;
  margin: 0 2rem;
  border-radius: 0.5rem;
  padding: 0.75rem 0;
  display: none;
}
.header .nav .menu .menu-items .item .dropdown li {
  margin: 0.75rem 0;
  color: #2c2d3f;
  font-weight: 700;
  cursor: pointer;
}
.header .nav .menu .menu-items .item .active {
  display: block;
}
.header .nav hr {
  margin: 1rem 2rem;
  border-color: #c8c8cb;
}
.header .nav .register {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .nav .register .login {
  margin: 0 auto;
  color: #25252d;
  font-weight: 700;
  cursor: pointer;
}
.header .nav .register .sign-up {
  background: linear-gradient(180deg, #ff8f70 0%, #ff3d54 100%);
  font-weight: 700;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 999rem;
  cursor: pointer;
}
.header .nav .register .sign-up:hover {
  background: #ff8f70;
  color: white;
}
.header .header-info {
  text-align: center;
  margin-top: 5rem;
}
.header .header-info h1 {
  font-weight: 700;
  font-size: 2.1rem;
}
.header .header-info p {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 16px;
}
.header .header-info button {
  margin: 3rem 0.5rem 5rem;
  background-color: white;
  font-weight: 700;
  color: #ff3d54;
  font-size: 16px;
  border: none;
  border-radius: 999rem;
  width: 8rem;
  height: 2.5rem;
  cursor: pointer;
}
.header .header-info button:hover {
  background-color: #ff8f70;
  color: white;
}
.header .header-info button:last-child {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.header .header-info button:last-child:hover {
  background-color: white;
  color: #ff3d54;
}

@media (min-width: 1024px) {
  .header .nav .menu {
    position: relative;
    background-color: transparent;
    top: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 0;
  }
  .header .nav .menu .menu-items {
    display: flex;
    align-items: center;
    position: relative;
  }
  .header .nav .menu .menu-items .item .item-text {
    margin: 0 0.5rem;
    color: white;
  }
  .header .nav .menu .menu-items .item .dropdown {
    position: absolute;
    background-color: white;
    margin: 0;
    border-radius: 0.5rem;
    padding: 0 1rem;
    display: none;
    width: 8rem;
    top: 3rem;
    text-align: left;
  }
  .header .nav hr {
    display: none;
  }
  .header .nav .register {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header .nav .register .login {
    color: white;
  }
  .header .nav .register .login:hover {
    color: #25252d;
  }
  .header .nav .register .sign-up {
    background: white;
    color: #25252d;
    padding: 0.5rem 2rem;
    margin-top: 0;
    margin-left: 1rem;
  }

  .nie {
    display: none;
  }
}
.desktop-img {
  display: none;
}

@media (min-width: 1024px) {
  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }
}
.top {
  margin: 5rem 0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.top-img {
  margin: 2rem 0;
}

.text-top div {
  margin: 2.5rem 0;
  color: #1f3f5b;
}
.text-top div h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-top div p {
  line-height: 1.5rem;
  color: #4b5862;
}

@media (min-width: 1024px) {
  .text-top {
    max-width: 50%;
    text-align: left;
  }
}
.infrastructure {
  padding: 8rem 2rem 8rem;
  color: white;
  margin: 5rem 0;
  background: url(/images/bg-pattern-circles.svg), linear-gradient(180deg, #2c2d3f 0%, #3f4164 100%);
  background-position: top;
  background-size: auto;
  background-repeat: no-repeat;
  border-bottom-left-radius: 4rem;
  border-top-right-radius: 4rem;
  position: relative;
}
.infrastructure .text-infra {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-top: 10rem;
}
.infrastructure .text-infra h2 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}
.infrastructure .text-infra p {
  color: #c8c8cb;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

.phone img {
  position: absolute;
  top: -5rem;
  left: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .infrastructure {
    background-position: left;
  }
  .infrastructure .text-infra {
    max-width: 50%;
    margin-top: 0;
    text-align: left;
  }

  .phone {
    width: 50%;
  }
  .phone img {
    width: auto;
  }
}
.bottom {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 5rem 0;
}
.bottom .bottom-text div {
  margin: 2.5rem 0;
  color: #1f3f5b;
}
.bottom .bottom-text div h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.bottom .bottom-text div p {
  line-height: 1.5rem;
  color: #4b5862;
}

@media (min-width: 1024px) {
  .bottom-text {
    max-width: 50%;
    text-align: left;
  }
}
footer {
  background-color: #25252d;
  color: white;
  text-align: center;
  padding: 5rem 2.5rem;
  border-top-right-radius: 4rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
footer ul {
  margin: 2.5rem 0;
  list-style-type: none;
}
footer ul li {
  margin: 0.5rem 0;
}
footer ul li:first-child {
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}
footer ul a {
  text-decoration: none;
  color: #c8c8cb;
  font-weight: 300;
}
footer ul a:hover {
  color: white;
}
footer .logo {
  margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  footer {
    text-align: left;
  }
  footer .flex {
    justify-content: space-evenly;
  }
  footer ul {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
