.header {
  color: $white;
  background: linear-gradient(180deg, $very-light-red 0%, $light-red 100%);
  border-bottom-left-radius: 4rem;
  padding: 2rem 0;
  font-family: $font-Overpass;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .close {
      display: none;
    }
    .active {
      display: block !important;
    }
    .menu {
      position: absolute;
      background-color: $white;
      color: black;
      top: 4rem;
      width: 100%;
      text-align: center;
      border-radius: 0.5rem;
      padding: 1rem 0;
      display: none;
      box-shadow: 0px 7px 100px -30px rgba(66, 68, 90, 1);
      .menu-items {
        .item {
          .item-text {
            margin: 1.5rem 0;
            font-weight: $font-700;
            cursor: pointer;
          }
          .dropdown {
            list-style: none;
            background-color: $grayish-blue;
            margin: 0 2rem;
            border-radius: 0.5rem;
            padding: 0.75rem 0;
            display: none;
            li {
              margin: 0.75rem 0;
              color: $very-dark-gray-blue;
              font-weight: $font-700;
              cursor: pointer;
            }
          }
          .active {
            display: block;
          }
        }
      }
    }
    hr {
      margin: 1rem 2rem;
      border-color: $grayish-blue;
    }
    .register {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login {
        margin: 0 auto;
        color: $very-dark-black-blue;
        font-weight: $font-700;
        cursor: pointer;
      }
      .sign-up {
        background: linear-gradient(
          180deg,
          $very-light-red 0%,
          $light-red 100%
        );
        font-weight: $font-700;
        color: $white;
        font-size: 1rem;
        padding: 1rem 2rem;
        margin-top: 1rem;
        border: none;
        border-radius: 999rem;
        cursor: pointer;
        &:hover {
          background: $very-light-red;
          color: $white;
        }
      }
    }
  }
  .header-info {
    text-align: center;
    margin-top: 5rem;
    h1 {
      font-weight: $font-700;
      font-size: 2.1rem;
    }
    p {
      font-weight: $font-400;
      margin-top: 1rem;
      font-size: $font-size;
    }
    button {
      margin: 3rem 0.5rem 5rem;
      background-color: $white;
      font-weight: $font-700;
      color: $light-red;
      font-size: $font-size;
      border: none;
      border-radius: 999rem;
      width: 8rem;
      height: 2.5rem;
      cursor: pointer;
      &:hover {
        background-color: $very-light-red;
        color: $white;
      }
      &:last-child {
        background-color: transparent;
        color: $white;
        border: 1px solid $white;
        &:hover {
          background-color: $white;
          color: $light-red;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .nav {
      .menu {
        position: relative;
        background-color: transparent;
        top: 0;
        box-shadow: none;
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
        padding: 0;
        .menu-items {
          display: flex;
          align-items: center;
          position: relative;
          .item {
            .item-text {
              margin: 0 0.5rem;
              color: $white;
            }
            .dropdown {
              position: absolute;
              background-color: $white;
              margin: 0;
              border-radius: 0.5rem;
              padding: 0 1rem;
              display: none;
              width: 8rem;
              top: 3rem;
              text-align: left;
              li {
              }
            }
          }
        }
      }
      hr {
        display: none;
      }
      .register {
        display: flex;
        flex-direction: row;
        align-items: center;
        .login {
          color: $white;
          &:hover {
            color: $very-dark-black-blue;
          }
        }
        .sign-up {
          background: $white;
          color: $very-dark-black-blue;
          padding: 0.5rem 2rem;
          margin-top: 0;
          margin-left: 1rem;
        }
      }
    }
  }
  .nie {
    display: none;
  }
}
